/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* About Us Section  */
    .title h1 {
        font-size: 62px;
    }
    .details a{
        font-size: 15px;
        padding-left: 35px;
    }
    .s_item{
        margin: 20px 0;
    }
    .second_row h3{
        text-align: left;
    }
    .second_row h5{
        font-size: 16px;
        letter-spacing: 0;
    }

}
/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* About Us Section  */
    .title h1 {
        font-size: 60px;
        text-align: left;
    }
    .details a{
        font-size: 15px;
        padding-left: 45px;
    }
    .s_item{
        margin: 20px 0;
    }
    .first_row{
        padding: 50px 0;
    }
    .second_row{
        padding: 50px 0;
    }
    .second_row h3{
        text-align: end;
    }
    .second_row h5{
        font-size: 16px;
        letter-spacing: 0;
    }
  
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* About Us Section  */
    .title h1 {
        font-size: 60px;
        text-align: left;
    }
    .details a{
        font-size: 15px;
        padding-left: 45px;
    }
    .s_item{
        margin: 20px 0;
    }
    .first_row{
        padding: 50px 0;
    }
    .second_row{
        padding: 50px 0;
    }
    .second_row h3{
        text-align: end;
    }
    .second_row h5{
        font-size: 16px;
        letter-spacing: 0;
    }

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/* Extra Large devices ( Large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}
/* Extra Extra large devices (Extra large desktops, 1400px and up) */
@media (min-width: 1400px) {

}
